/.idea/
Desktop.iml
/out/
/out/production/Desktop/HelloWorld.class
/out/production/Desktop/Calculator.class
/out/production/Desktop/OperatoryPorownania.class
/out/production/Desktop/OperatoryPorownianiaZad.class
/out/production/Desktop/TypyProste.class
/out/production/Desktop/InstrukcjaWarunkowaElseIf.class
/out/production/Desktop/InstrukcjeWarunkowe.class
/out/production/Desktop/InstrukcjeWarunkoweZad.class
/out/production/Desktop/OperatoryLogiczne.class
